<div class="w-100">
    <div class="px-3 bg-body rounded">
        <div class="row bg-white">
            <div class="col">
                <div class="row align-items-center">
                <img [src]="trintechimage" class="w-15 py-1" alt="trintech cadency">

                <div class="nav nav-pills nav-fill ml-4">
                    <div class="nav-item">
                      <a class="nav-link active" href="#">Match</a>
                    </div>
                    <div class="nav-item">
                      <a class="nav-link" href="#">Certification</a>
                    </div>
                </div>
                </div>


            </div>
            <div class="col col-auto">
                <!-- Example single danger button -->
                <div class="dropdown">
                    <button class="text-lighter-green main-drop py-2 px-3 dropdown-toggle" type="button"
                        id="dropdownMenuLink" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="outline: none;">
                        <fa-icon [icon]="farQuestionCircle"></fa-icon> Art Ardizzone
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
