<app-nav></app-nav>
<div class="w-100">
    

    <div class="bg-f6 border-purple shadow-top">
        <div class="row none">
            <div class="col-auto mt-4">
                <div class="navbar bg-purple rounded-right py-3 example" aria-label="First navbar example" style="width:40px;">
                    <div class="">

                        <button class="navbar-toggler custom-toggler" type="button" id="toggleButton"
                       
                        href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col match-rules">
                <div class="pt-2">
                    <h2>
                        Match rules and sets
                    </h2>
                    <hr>
                </div>


                <div class="">
                    <nav class="">
                        <div class="nav nav-tabs custom-nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active custom-nav-link" id="nav-home-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                aria-selected="true">
                                <strong>
                                    Match rules
                                </strong>
                            </button>
                            <button class="nav-link custom-nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                                aria-selected="false">
                                <strong>
                                    Match rule sets
                                </strong>
                            </button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                            aria-labelledby="nav-home-tab">
                            <div class="row py-4">

                                <div class="col">

                                    <form class="form-inline ">
                                        <input class="border rounded py-2 px-3" type="search" placeholder="Search"
                                            aria-label="Search">


                                        <button type="button"
                                            class="border border-primary btn-light rounded text-primary py-2 px-3">
                                            <a href="" role="button">
                                                <fa-icon [icon]="faSync"></fa-icon>
                                            </a>
                                        </button>


                                        <button type="button" class="border btn-light rounded text-dark py-2 px-3">
                                            <a style="text-decoration: none" href="">
                                                <fa-icon [icon]="faFilter"></fa-icon>
                                                <strong>Filters</strong>
                                            </a>
                                        </button>
                                    </form>
                                </div>


                                <div class="col col-auto">
                                    <!-- Example single danger button -->
                                    <div class="dropdown">
                                        <button
                                            class="border border-primary btn-light rounded text-primary py-2 px-3 dropdown-toggle"
                                            type="button"
                                            id="dropdownMenuLink" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <strong>
                                                More
                                            </strong>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                          </div>
                                    </div>
                                </div>
                            </div>

                            <data-table></data-table>

                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="row py-4">

                                <div class="col">

                                    <form class="form-inline ">
                                        <input class="border rounded py-2 px-3" type="search" placeholder="Search"
                                            aria-label="Search">


                                        <button type="button"
                                            class="border border-primary btn-light rounded text-primary py-2 px-3">
                                            <a href="" role="button"><i class="fa fa-sync"></i> </a>
                                        </button>


                                        <button type="button" class="border btn-light rounded text-dark py-2 px-3">
                                            <a style="text-decoration: none" href=""><i class="fa fa-filter"></i>
                                                <strong>Filters</strong></a>
                                        </button>
                                    </form>
                                </div>


                                <div class="col col-auto">
                                    <!-- Example single danger button -->
                                    <div class="dropdown">
                                        <button
                                            class="border border-primary btn-light rounded text-primary py-2 px-3 dropdown-toggle"
                                            type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            More
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>